{% extends 'base_boxed.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
<form id="login-form" class="container" method="post" action="">
	<h1><b>Login</b></h1>

	{% if login_errors %}
	{% for error in login_errors %}
	<div class="alert alert-danger" role="alert">
		<strong>{{ error }}</strong>
	</div>
	{% endfor %}
	{% endif %}


	<label for="email-field">E-mail</label>
	<div class="input-group">
		<span class="input-group-text"><i class="fa fa-user"></i></span>
		<input class="form-control" type="text" name="email" id="email-field" placeholder="E-mail"
			   value="{{ request.form.get('email', '') }}">
	</div>


	<label for="password-field">Password</label>
	<div class="input-group">
		<span class="input-group-text"><i class="fa fa-lock"></i></span>
		<input class="form-control" type="password" id="password-field" name="password" placeholder="Password">
	</div>


	<button class="btn btn-primary" type="submit" id="submit-button">Submit</button>

	<input class="" type="checkbox" id="remember-check">
	<label for="remember-check">Remember me?</label>
	<br/>

	<span id="sign-up-text"><a href="{{ url_for('auth.register') }}">Sign up!</a></span>
	<br/>

	<span id="forgot-password-text"><a href="#">Forgot password?</a></span>
</form>
{% endblock %}
