#login-form {
	width: 75%;
}

#login-form .input-group {
	margin-bottom: 12px;
}

#forgot-password-text a {
	color: red;
	text-decoration: none currentcolor solid;
}

#forgot-password-text a:hover {
	color: darkred;
}

#sign-up-text a {
	color: #DDD;
	text-decoration: none currentcolor solid;
}

#sign-up-text a:hover {
	color: #888;
}

#submit-button {
	float: right;
	background-color: #777;
	border-color: #999;
}

#submit-button:hover {
	background-color: #343a40;
}