<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
			integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
			crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

	<script type="text/javascript">

		function moveScroller() {
			const $anchor = $("#banner");
			const $scroller = $('#main-nav-bar');

			const move = function () {
				var st = $(window).scrollTop() - 120;
				var ot = $anchor.offset().top;
				if (st > ot) {
					$scroller.css({
						position: "fixed",
						top: "0px",
						width: "100%"
					});
				} else {
					$scroller.css({
						position: "relative",
						top: ""
					});
				}
			};

			$(window).scroll(move);
			move();
		}

		$(function () {
			moveScroller();
		});
	</script>

	<title>{% block title %}{% endblock %}</title>

	{% block head %} {% endblock %}
</head>
<body>

<div id="banner">
	<div class="container">
		<a href="{{ url_for('home.index') }}">
			<img src="{{ url_for('static', filename='img/BannerHead.png') }}" alt="BannerHead">
		</a>
	</div>
</div>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow" id="main-nav-bar">
	<div class="container">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
				aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarToggle">
			<ul class="navbar-nav mr-auto">
				{% for nav_el in nav_elements %}
				<li class="nav-item">
					<a class="nav-link" href="{{ nav_el[1] }}">{{ nav_el[0] }}</a>
				</li>
				{% endfor %}
			</ul>

		</div>

		<div id="account-status-bar" class="shadow text-center">
			<a href="{{ url_for('auth.index') }}">Login</a>
		</div>

	</div>
</nav>

{% block rest %} {% endblock %}

</body>
</html>