{% extends 'base_flat.html' %}

{% block head %}
	<link href="{{ url_for('.static', filename='css/anime_page.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ anime.title }}{% endblock %}

{% block content %}
	<div id="header">
		{% if current_user.is_authenticated %}
			<div id="admin-bar">
				<a href="{{ url_for('anime.edit', anime_id=anime.id) }}"><i class="bi bi-wrench"></i></a>
				<a href="{{ url_for('anime.delete', anime_id=anime.id) }}"><i class="bi bi-x-octagon-fill"></i></a>
			</div>
		{% endif %}
		<h1>{{ anime.title }}</h1>
		<h2>{{ anime.en_title if anime.en_title else anime.jp_title }}</h2>
	</div>

	<div id="body-section">
		<div id="info-bar">

			{% if current_user.is_authenticated %}
				{% if not liked %}
					<a href="{{ url_for('anime.user_collect', anime_id=anime.id) }}" id="info-bar__add-anime-button"><i
							class="bi bi-heart"></i></a>
				{% else %}
					<a href="{{ url_for('anime.user_remove', anime_id=anime.id) }}" id="info-bar__add-anime-button"><i
							class="bi bi-heart-fill"></i></a>
				{% endif %}
			{% endif %}
			<div id="info-bar__cover-image">
				<img alt="cover-image" src="{{ anime.cover_art_src() }}"/>
			</div>

			<div id="info-bar__content">

				<h5>Information</h5>
				<p>
					<b>Producers:</b> Bones<br/>
					{% if anime.episodes %}
						<b>{{ anime.episodes }}</b> 12<br/>
					{% endif %}
					<b>Premiered:</b> {{ anime.premiered }}<br/>
				</p>

				<h5>Titles</h5>
				<p>
					{% if anime.jp_title %}
						<b>日本:</b> {{ anime.jp_title }}<br/>
					{% endif %}
					{% if anime.en_title %}
						<b>English:</b> {{ anime.en_title }}<br/>
					{% endif %}
				</p>

			</div>
		</div>
		<div>
			<h5>Synopsis</h5>
			<p>
				{% if anime.synopsis %}
					{{ anime.synopsis }}
				{% else %}
					No synopsis added..
				{% endif %}
			</p>
			<hr/>

		</div>
	</div>
	<div id="comments">
		<h4>Comments</h4>
		Be the first to add a comment!
		<hr>
	</div>
{% endblock %}
