{% extends 'base_flat.html' %}

{% block head %}
<link href="{{url_for('.static', filename='css/anime.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Anime{% endblock %}

{% block content %}
<h1>Anime</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at ipsum sed tortor interdum accumsan. In in vulputate lectus. Suspendisse ultrices at purus pulvinar condimentum. Quisque pulvinar tristique ante at gravida. Curabitur nec varius nunc. Nunc quis augue metus. Curabitur ultricies nisl nec urna auctor blandit. Morbi eu nibh eu odio maximus luctus vitae ut mauris. Nunc lacinia massa et augue auctor luctus ac id tellus. Proin suscipit, odio id feugiat interdum, quam felis posuere nunc, sit amet elementum augue diam et quam. Nunc ut consectetur urna. Nam aliquet vitae justo vitae auctor. Vivamus rhoncus lectus elementum augue suscipit, nec cursus neque placerat. Quisque sodales in tortor quis luctus. Sed luctus orci vestibulum nunc auctor, quis vulputate tortor auctor.

Cras ut tristique ipsum. Duis porta purus id ullamcorper malesuada. Pellentesque tincidunt in ante at lobortis. Praesent in arcu sed lectus facilisis venenatis quis quis nibh. Integer tincidunt ornare laoreet. Cras feugiat, mauris id fermentum mollis, purus dui congue dolor, vitae interdum dui nibh eu ante. Nullam ligula augue, elementum eget imperdiet eget, eleifend tempor felis.

Cras a varius est. Aenean cursus hendrerit dictum. Mauris consequat placerat diam nec scelerisque. Maecenas at ipsum sem. Donec mollis lorem dui, nec rhoncus felis molestie nec. Sed vestibulum magna ex, mollis iaculis augue aliquam ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec vitae dignissim magna, id molestie enim. Sed tortor ligula, mattis sit amet tempor id, sollicitudin non metus.
{% endblock %}
