{% extends 'base_flat.html' %}

{% block head %}
	<link href="{{ url_for('.static', filename='css/anime_page.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ anime.title }}{% endblock %}

{% block content %}
	<div id="header">
		{% if current_user.is_authenticated %}
			<div id="admin-bar">
				<a href="{{ url_for('anime.edit', anime_id=anime.id) }}"><i class="bi bi-wrench"></i></a>
				<a href="{{ url_for('anime.delete', anime_id=anime.id) }}"><i class="bi bi-x-octagon-fill"></i></a>
			</div>
		{% endif %}
		<h1>{{ anime.title }}</h1>
		<h2>{{ anime.en_title if anime.en_title else anime.jp_title }}</h2>
	</div>

	<div id="body-section">
		<div id="info-bar">

			{% if current_user.is_authenticated %}
				{% if not liked %}
					<a href="{{ url_for('anime.user_collect', anime_id=anime.id) }}" id="info-bar__add-anime-button"><i
							class="bi bi-heart"></i></a>
				{% else %}
					<a href="{{ url_for('anime.user_remove', anime_id=anime.id) }}" id="info-bar__add-anime-button"><i
							class="bi bi-heart-fill"></i></a>
				{% endif %}
			{% endif %}
			<div id="info-bar__cover-image">
				<img alt="cover-image" src="{{ anime.cover_art_src() }}"/>
			</div>

			<div id="info-bar__content">

				<h5>Information</h5>
				<p>
					<b>Premiered:</b> {{ anime.premiered }}<br/>
					{% if anime.episodes %}
						<b>Episodes:</b> {{ anime.episodes }}<br/>
					{% endif %}
				</p>

				{% if anime.jp_title or anime.en_title %}
					<h5>Titles</h5>
					<p>
						{% if anime.jp_title %}
							<b>日本:</b> {{ anime.jp_title }}<br/>
						{% endif %}
						{% if anime.en_title %}
							<b>English:</b> {{ anime.en_title }}<br/>
						{% endif %}
					</p>
				{% endif %}

			</div>
		</div>
		<div>
			<h5>Synopsis</h5>
			<p>
				{% if anime.synopsis %}
					{{ anime.synopsis }}
				{% else %}
					No synopsis added..
				{% endif %}
			</p>
			<hr/>

		</div>
	</div>
	<div id="comments">
		<h4>Comments</h4>
		<hr>
		<form action="" method="post">
			{{ comment_form.csrf_token }}

			{{ comment_form.text() }}
			<button type="submit" class="btn btn-dark mb-3 mt-3">COMMENT</button>
		</form>

		{% if anime.comments %}
			<div id="comment-box">
				{% for comment in anime.comments %}
					<div class="comment">
						<div class="comment__timestamp">{{ comment.placed_on.strftime('%H:%M %d-%b \'%y') }}</div>
						<h6>{{ comment.author.display_name }}</h6>
						{{ comment.text }}
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h6><i>Be the first to write a comment!</i></h6>
		{% endif %}
	</div>
{% endblock %}
