{% extends 'base_flat.html' %}

{% block head %}
<link href="{{url_for('.static', filename='css/anime_front.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Anime{% endblock %}

{% block content %}
<h1>Anime</h1>
<div class="topnav">
	<input type="text" placeholder="Search...">
</div>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Episodes</th>
        <th>Studio</th>
    </tr>
    </thead>
    <tr>
        <td class="titleimg"><img class="timg" src="{{ url_for('static', filename='img/boxart/trend-6.jpg')}}">Sword Art Online</td>
        <td>25</td>
        <td>A-1 Pictures</td>
    </tr>
    <tr>
        <td class="titleimg"><img class="timg" src="{{ url_for('static', filename='img/boxart/recent-6.jpg')}}">Demon Slayer</td>
        <td>26</td>
        <td>ufotable</td>
    </tr>
    <tr>
        <td class="titleimg"><img class="timg" src="{{ url_for('static', filename='img/boxart/recent-3.jpg')}}">Dr. Stone</td>
        <td>24</td>
        <td>TMS Entertainment</td>
    </tr>
</table>
{% endblock %}