{% extends 'base_flat.html' %}

{% block head %}
	<link href="{{ url_for('.static', filename='css/anime_front.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/util.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Anime{% endblock %}

{% block content %}
	{% if current_user.is_authenticated %}
		<a href="{{ url_for('anime.add') }}" class="btn btn-dark float-end">Add</a>
	{% endif %}
	<h1>Anime Index</h1>
	<div id="search-box">
		<form action="" method="get" class="mb-3">
			<div class="input-group">
				<span class="input-group-text btn-dark"><i class="bi bi-search"></i></span>
				<input name="search" type="text" placeholder="Search.." class="form-control"
					   value="{{ request.args.get('search', '') }}">
				<button class="btn btn-dark">Search</button>
			</div>
		</form>
	</div>

	{% if animes.pages %}

		<div class="table-responsive">
			<table class="table b-table">
				<tr>
					<th>Title</th>
					<th>Premiered</th>
				</tr>
				{% for anime in animes.items %}
					<tr>
						<td>
							<a href="{{ url_for('anime.page', anime_id=anime.id) }}">
								<img class="b-table__cover_art" src="{{ anime.cover_art_src() }}" alt="cover-art">
								{{ anime.title }}
							</a>

						</td>
						<td>
							{{ anime.premiered }}
						</td>
					</tr>
				{% endfor %}
			</table>
	</div>
	<div id="pagination-box">
		<a href="{{ url_for('anime.index', p=animes.prev_num) }}"
		   class="btn btn-dark {{ 'disabled' if animes.page == 1 }}">
			&laquo;
		</a>

		{% for page in animes.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}

			{% if page %}
				{% if page != animes.page %}
					<a href="{{ url_for('anime.index', p=page) }}">{{ page }}</a>
				{% else %}
					<strong>{{ page }}</strong>
				{% endif %}
			{% else %}
				<span class=ellipsis>…</span>
			{% endif %}

		{% endfor %}

		<a href="{{ url_for('anime.index', p=animes.next_num) }}"
		   class="btn btn-dark {{ 'disabled' if animes.page == animes.pages }}">
			&raquo;
		</a>
	</div>

	{% else %}
		<h3>No Anime's found..</h3>
		<img src="{{ url_for('static', filename='img/not_found.png') }}" style="width: 200px; height: auto;" alt="not_found">
	{% endif %}





{% endblock %}