{% extends 'base_flat.html' %}

{% block head %}
	<link href="{{ url_for('.static', filename='css/profile.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/util.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
	<a class="btn btn-dark mb-2 float-end" href="{{ url_for('home.profile') }}">Profile</a>
	<h2>Saved by you</h2>
	<table class="table b-table">
		<tr>
			<th>Title</th>
		</tr>
		{% for anime in collected_anime %}
			<tr>
				<td>
					<a href="{{ url_for('anime.page', anime_id=anime.id) }}">
						<img class="b-table__cover_art" src="{{ anime.cover_art_src() }}" alt="cover-art">
						{{ anime.title }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
